.elements__container-top{
  max-width: 900px;
  margin: 50px auto auto;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  gap: 17px;
  justify-content: center;
}
.elements__place{
  max-width: 282px;
  max-height: 362px;
}
.elements__place-picture{
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
  margin-bottom: -4px;
}
.elements__box{
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 79px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.elements__box-name{
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 25px 0 auto 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.elements__box-heart{
  width: 21px;
  height: 18px;
  margin: 31px 22px auto auto;
}
@media screen and (max-width: 880px)  {
  .elements__container-top{
    max-width: 720px;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    gap: 20px;
  }
  .elements__place-picture{
    height: 240px;
  }
}
@media screen and (max-width: 768px)  {
  .elements__container-top{
    gap: 10px;
  }
}
@media screen and (max-width: 720px)  {
  .elements__container-top{
    max-width: 581px;
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 20px;
  }
  .elements__place-picture{
    height: 240px;
  }
}
@media screen and (max-width: 581px)  {
  .elements__container-top{
    max-width: 581px;
    display: grid;
    grid-template-columns: 282px;
    gap: 20px;
  }
  .elements__place-picture{
    height: 282px;
  }
}
@media screen and (max-width: 320px) {
  .elements__container-top{
    max-width: 282px;
    display: grid;
    grid-template-columns: 282px;
    margin-top: 36px;
  }
  .elements__place-picture{
    margin-top: 20px;
  }
}