@font-face {
  font-family: "Inter";
  src: local url("../fonts/Inter-Black.ttf");
}
@font-face {
  font-family:"Inter";
  src: local url("../fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  src: local url("../fonts/Inter-Regular.ttf");
}