.popup__container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Inter", sans-serif;
}
.popup__form{
  width: 430px;
  height: 330px;
  border: 1px;
  background-color: #FFFFFF;
  position: relative;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 195px auto;
}
.popup__form-title{
  width: 358px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 34px auto 0 36px;

}
.popup__form-name{
  width: 358px;
  margin: 54px auto 0 36px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

}
.popup__form-about{
  width: 358px;
  margin: 30px auto 0 36px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__form-save{
  width: 358px;
  height: 51px;
  margin: 48px auto auto 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
}
.popup__form-save:hover{
  opacity: 80%;
}
.popup{
  display: none;
}
.popup__opened{
  display: flex;
}
.popup__image-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Inter", sans-serif;
}
.popup__container-inside{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.popup__close-button{
  position: relative;
  width: 40px;
  height: 40px;
  top: 147px;
  left: 935px;
}
.popup__close-button:hover{
  opacity: 80%;
}
.popup__image-close{
  width: 40px;
  height: 40px;
  margin: auto -40px auto auto;
}
.popup__image-close:hover{
  opacity: 80%;
}
.popup__title{
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__image-open{
  max-width: 816px;
  max-height: 540px;
}
@media screen and (max-width: 880px){
  .popup__form{
  margin: 195px auto;
  }
  .popup__close-button{
    top: 147px;
    left: 655px;
  }
}
@media screen and (max-width: 768px) {
  .popup__close-button{
    left: 595px;
  }
}
@media screen and (max-width: 720px) {
  .popup__close-button{
    left: 580px;
  }
}
@media screen and (max-width: 650px) {
  .popup__close-button{
    left: 540px;
  }
}
@media screen and (max-width: 550px) {
  .popup__close-button{
    left: 490px;
  }
}
@media screen and (max-width: 500px) {
  .popup__close-button{
    left: 420px;
  }
}
@media screen and (max-width: 480px) {
  .popup__form{
    width: 282px;
    height: 322px;
    margin: 123px auto auto auto;
  }
  .popup__form-title{
    width: 228px;
    margin: 25px auto 0;
    font-size: 18px;
  }
  .popup__form-name{
    width: 228px;
    margin: 75px auto 0;
  }
  .popup__form-about{
    width: 228px;
    margin: 30px auto 0;
  }
  .popup__form-save{
    width: 228px;
    margin: 45px auto 0;
  }
  .popup__close-button{
    width: 26px;
    height: 26px;
    left: 355px;
    top: 73px;
  }
}
@media screen and (max-width: 400px) {
  .popup__close-button{
    left: 315px;
  }
}
@media screen and (max-width: 350px) {
  .popup__close-button{
    left: 290px;
  }
}
@media screen and (max-width: 320px) {
  .popup__close-button{
    left: 265px;
  }
  .popup__close{
  width: 0;
  }
  .popup__image-open{
    max-width: 240px;
    max-height: 299px;
  }
  .popup__image-close{
    width: 30px;
    height: 30px;
    margin: auto -30px auto auto;
  }
}




