.profile__container{
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0;
  text-align: center;
  grid-template-columns: 120px 403px 42px 315px;
  grid-template-rows: 61px 59px;
  display: grid;
  grid-template-areas:
  "picture name edit add"
  "picture description edit add";
}
.profile__picture{
  grid-area: picture;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}
.profile__name{
  grid-area: name;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  margin: 22px auto auto 30px;
}
.profile__description{
  grid-area: description;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 16px auto auto 30px;
}
.profile__img{
  grid-area: edit;
  max-width: 24px;
  max-height: 24px;
  margin: 37px auto auto 18px;
}
.profile__add{
  grid-area: add;
  width: 150px;
  height: 50px;
  margin: 35px auto auto 165px;
  border: 2px solid #FFFFFF;
}
.profile__add:hover{
  opacity: 80%;
}
.profile__edit:hover{
opacity: 80%;
}
.elements__box-heart:hover{
  opacity: 80%;
}
.profile__add__button{
  width: 22px;
  height: 22px;
  margin: 14px 64px;
}
@media screen and (max-width: 320px) {
  .profile__container{
    max-width: 282px;
    max-height: 286px;
    margin: 42px auto 0;
    grid-template-columns: 239px 43px;
    grid-template-rows: 120px 52px 28px 86px;
    display: grid;
    grid-template-areas:
    "picture picture"
    "name edit"
    "description description"
    "add add";
  }
  .profile__picture{
    margin: 0 80px 0 auto;
  }
  .profile__name{
    font-size: 22px;
    line-height: 27px;
    margin: 30px 0 0 40px;
  }
  .profile__description{
    font-size: 14px;
    line-height: 17px;
    margin: 14px auto 0;
    text-align: center;
  }
  .profile__img{
    max-width: 18px;
    max-height: 18px;
    margin: 34px 15px 0 10px;
  }
  .profile__add{
    width: 282px;
    height: 50px;
    margin: 36px 0 0;
  }
  .profile__add__button{
    width: 16px;
    height: 16px;
    margin: 17px 132px 17px 134px;
  }
}
