.delete{
  display: flex;
}
.popup__form-profile-picture{
  width: 430px;
  height: 272px;
  border: 1px;
  background-color: #FFFFFF;
  position: relative;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}
.popup__form-deleteImage{
  width: 430px;
  height: 181px;
  border: 1px;
  background-color: #FFFFFF;
  position: relative;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}
.popup__container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Inter", sans-serif;
}
.popup__align{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-end;
}
.popup__form{
  width: 430px;
  height: 330px;
  border: 1px;
  background-color: #FFFFFF;
  position: relative;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}
.popup__form-title{
  width: 358px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 34px auto 0 36px;
}

.popup__form-name{
  width: 358px;
  margin: 54px auto 0 36px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__form-about{
  width: 358px;
  margin: 30px auto 0 36px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__form-about-profile{
  width: 358px;
  margin: 54px auto 0 36px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__form-save{
  width: 358px;
  height: 51px;
  margin: 48px auto auto 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
}
.popup__form-save-delete{
  width: 358px;
  height: 50px;
  margin: 38px auto auto 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
}
.popup__form-save-profile{
  width: 358px;
  height: 50px;
  margin: 48px auto auto 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
}
.popup__form-save:hover{
  opacity: 80%;
}
.popup{
  display: none;
}
.popup__opened{
  display: flex;
}
.popup__image-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Inter", sans-serif;
}
.popup__container-inside{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.popup__close-button{
  margin-right: -28px;
  cursor: pointer;
}
.popup__close-button:hover{
  opacity: 80%;
}
.popup__image-close{
  width: 40px;
  height: 40px;
  margin: auto -40px auto auto;
}
.popup__image-close:hover{
  opacity: 80%;
}
.popup__title{
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.popup__image-open{
  max-width: 816px;
  max-height: 540px;
}
.popup__error{
  color: red;
}
.popup__input_type_error{
  border-bottom: 1px solid red;
}
 .popup__error_visible{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  position: relative;
  top: 0px;
  left: 34px;
  width: 320px;
  height: 16px;
 }
.popup__button_disabled{
pointer-events: none;
background-color: #FFFFFF;
color: #000000;
opacity: 70%;
}
@media screen and (max-width: 880px){
  .popup__form{
  margin: 125px auto auto auto;
  }
  .popup__close-button{
    position: relative;
    top: 120px;
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .popup__align{
    margin-top: 145px;
  }
  .popup__form{
    margin-top: 0;
    }
    .popup__close-button{
      position: relative;
      top: 0px;
    }
}
@media screen and (max-width: 480px) {
  .popup__align{
    margin-top: 123px;
  }
  .popup__form{
    width: 282px;
    height: 322px;
    margin-top: 0;
  }
  .popup__form-title{
    width: 228px;
    margin: 25px auto 0;
    font-size: 18px;
  }
  .popup__form-name{
    width: 228px;
    margin: 75px auto 0;
  }
  .popup__form-about{
    width: 228px;
    margin: 30px auto 0;
  }
  .popup__form-save{
    width: 228px;
    margin: 45px auto 0;
  }
  .popup__close-button{
    width: 26px;
    height: 26px;
  }
}
@media screen and (max-width: 320px) {
  .popup__align{
    margin-top: 123px;
  }
  .popup__form{
    margin-top: 0;
  }
  .popup__close-button{
    width: 26px;
    height: 26px;
    margin: 0 auto 13px -24px;
  }
  .popup__close{
  width: 0;
  }
  .popup__image-open{
    max-width: 240px;
    max-height: 299px;
  }
  .popup__image-close{
    width: 30px;
    height: 30px;
    margin: auto -30px auto auto;
  }
  .popup__error_visible{
    width: 228px;
    height: 16px;
   }
}




